
  
 
/*HAVE TO SPECIFY THE LOOK OF THE CARDS WHEN YOU CHANGE THE SIZE OF THE WINDOW 
OTHERWISE THE CARDS WILL STICK TO THE LEFT AS THE COLUMNS MOVE TO NEW ROWS*/
/*PRIMARILY FOR THE ROW OF CARDS*/

/*max-width: 800px means from 0px of width to a max of 800px*/
  @media screen and (max-width: 800px){
  #FirstRowCards {
    padding-left: 25vw;
    padding-right: 30vw;
    margin: 1em;
    
  }

  #TEXT{
    font-size: 1.25em;
    transform: translateY(-350%);
  }

  #DESCRIPTION{
    transform: translateY(-150%);
    font-size: 0.58em;
    
  }

  #BlackOverlay{
    height: 120em
  }
 }



/*This is specifying the changes to occur between a width of 800px and 1050px*/
 @media screen and (min-width:800px) and (max-width:1050px) {

  #FirstRowCards {
    padding-left: 2vw;
    padding-right: 1vw;
    margin: 1em;
    
  }
  
  #TEXT{
    transform: translateY(-250%);
    font-size: 1.8em
    
  }
  
  #DESCRIPTION{
    font-size: 0.76em;
    transform: translateY(-150%);
  }
  
  #BlackOverlay{
    height: 85em
  }
 }

/*min-width: 1050px means from > 1050px of width to a min of 1050px*/
@media screen and (min-width: 1050px){

  #FirstRowCards {
    padding-left: 2vw;
    padding-right: 1vw;
    margin: 1em;
    
  }

  #TEXT{
    font-size: 2.5em;
    transform: translateY(-250%);   
    
  }
  
  #DESCRIPTION{
    transform: translateY(-150%);
    font-size: 0.9em;     
  }
  
#BlackOverlay{
  height: 85em
}

}




 video {
  object-fit: fill;
  width: 100%;
  height: 100%;
  position: fixed; /*fixed positions the element based on the entire html page, so that when you 
                    specify certain positions based on top, right, bottom, left attributes, the position co-ordinates are
                    based on the entire html page & it makes the image exist on viewport regardless of you scrolling, 
                    its stuck on screen based on its height and width*/
  top: 2.5em;       /*positioning of the element*/
  right:0em;
  z-index: -2;    /*To push the image behind so that whatever text that was meant to be shown can be seen
                    in front of the image*/
}
