
  
 
/*HAVE TO SPECIFY THE LOOK OF THE CARDS WHEN YOU CHANGE THE SIZE OF THE WINDOW 
OTHERWISE THE CARDS WILL STICK TO THE LEFT AS THE COLUMNS MOVE TO NEW ROWS*/
/*PRIMARILY FOR THE ROW OF CARDS*/

/*max-width: 800px means from 0px of width to a max of 800px*/
  @media screen and (max-width: 800px){
  #FirstRowCards {
    padding-left: 25vw;
    padding-right: 30vw;
    margin: 1em;
    
  }

  #TEXT{
    font-size: 1.25em;
    transform: translateY(-350%);
  }

  #DESCRIPTION{
    transform: translateY(-150%);
    font-size: 0.58em;
    
  }

  #BlackOverlay{
    height: 95em
  }

      /*min-height: 390px means from > 390px of width to a min of 390px*/
      @media screen and (min-height:390px) {
              
        #BlackOverlay{
          height: 410vh
        }

      }

      /*min-height: 480px means from > 480px of width to a min of 480px*/
      @media screen and (min-height:480px) {
            
        #BlackOverlay{
          height: 380vh
        }

      }

      /*min-height: 700px means from > 700px of width to a min of 700px*/
      @media screen and (min-height:700px) {
            
        #BlackOverlay{
          height: 350vh
        }

      }

 }



/*This is specifying the changes to occur between a width of 800px and 1050px*/
 @media screen and (min-width:800px) and (max-width:1050px) {

  #FirstRowCards {
    padding-left: 2vw;
    padding-right: 1vw;
    margin: 1em;
    
  }
  
  #TEXT{
    transform: translateY(-250%);
    font-size: 1.8em
    
  }
  
  #DESCRIPTION{
    font-size: 0.76em;
    transform: translateY(-150%);
  }
  
  #BlackOverlay{
    height: 70em
  }

    /*min-height: 520px means from > 520px of width to a min of 520px*/
    @media screen and (min-height:520px) {
            
      #BlackOverlay{
        height: 220vh
      }

    }

    /*min-height: 670px means from > 670px of width to a min of 670px*/
    @media screen and (min-height:670px) {
          
      #BlackOverlay{
        height: 195vh
      }

    }

 }

/*min-width: 1050px means from > 1050px of width to a min of 1050px*/
@media screen and (min-width: 1050px){

  #FirstRowCards {
    padding-left: 2vw;
    padding-right: 1vw;
    margin: 1em;
    
  }

  #TEXT{
    font-size: 2.5em;
    transform: translateY(-250%);   
    
  }
  
  #DESCRIPTION{
    transform: translateY(-150%);
    font-size: 0.95em;     
  }
  
#BlackOverlay{
  height: 60em
}

        /*min-height: 380px means from > 380px of width to a min of 380px*/
        @media screen and (min-height:380px) {
                
          #BlackOverlay{
            height: 250vh
          }

        }


       /*min-height: 440px means from > 440px of width to a min of 440px*/
       @media screen and (min-height:440px) {
        
        #BlackOverlay{
          height: 230vh
        }

      }

      /*min-height: 610px means from > 610px of width to a min of 610px*/
      @media screen and (min-height:610px) {
        
        #BlackOverlay{
          height: 210vh
        }

      }
}

@media screen and (min-width: 1620px){

  #FirstRowCards {
    padding-left: 2vw;
    padding-right: 1vw;
    margin: 1em;
    
  }

  #TEXT{
    font-size: 2.5em;
    transform: translateY(-250%);   
    
  }
  
  #DESCRIPTION{
    transform: translateY(-150%);
    font-size: 0.95em;     
  }
  
#BlackOverlay{
  height: 85em
}


 /*min-height: 380px means from > 380px of width to a min of 380px*/
 @media screen and (min-height:640px) {
                
  #BlackOverlay{
    height: 210vh
  }

}

}

 video {
  object-fit: fill;
  width: 100%;
  height: 100%;
  position: fixed; /*fixed positions the element based on the entire html page, so that when you 
                    specify certain positions based on top, right, bottom, left attributes, the position co-ordinates are
                    based on the entire html page & it makes the image exist on viewport regardless of you scrolling, 
                    its stuck on screen based on its height and width*/
  top: 2.5em;       /*positioning of the element*/
  right:0em;
  z-index: -2;    /*To push the image behind so that whatever text that was meant to be shown can be seen
                    in front of the image*/
}
